<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    <div class="cursor" [style.top]="top" [style.left]="left" [ngClass]="{'expand':expand}"></div>    <div class="container-fluid">
        <video autoplay loop class="video-back">
            <source src="../../assets/utomp3.com - Little Dark Age   Monster Johan Liebert Edit  AMV vfx.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="form">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" required>
                </div>
                <br>
                <div class="form-group d-grid">
                    <a href="" class="btn btn-primary block">Login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
