<app-navbar></app-navbar>
<section>
  <div class="container my-5">
    <div class="row g-5">
      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>      <div class="col">
        <div class="card">
        @defer {
          <img
          src="https://source.unsplash.com/300x300/?BodyLotion"
          class="card-img-top"
          alt="Card Image Body"
        />
        }
        @loading (minimum 500ms){
          <img src="https://via.placeholder.com/300?text=Body Product" alt="" class="card-img-top">
        }
          <div class="card-body">
            <h5 class="card-title">Body Products</h5>
            <p class="card-text">
              Nourish your body with our premium skincare range.
            </p>
            <a href="#" class="btn btn-primary">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>