<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-navbar></app-navbar>
    <section>
      <div class="container my-5">
        <div class="row g-5">
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?BodyLotion"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (){
              <img
                src="https://via.placeholder.com/300?text=Body Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Body Products</h5>
                <p class="card-text">
                  Nourish your body with our premium skincare range.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?SkinCare Serums"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Face</h5>
                <p class="card-text">
                  Refresh and rejuvenate your face with our best products.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Shampoo Product"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=HairCare Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">HairCare</h5>
                <p class="card-text">
                  Keep your hair healthy and shiny with our HairCare essentials.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Perfume Product"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Perfume</h5>
                <p class="card-text">
                  Discover our collection of exquisite fragrances.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Sunscreen Product"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Sunscreen</h5>
                <p class="card-text">
                  Protect your skin from harmful UV rays with our sunscreen.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Makeup Products"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Makeup</h5>
                <p class="card-text">
                  Explore our range of makeup products for all skin types.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?BodyLotion"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Body Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Body Products</h5>
                <p class="card-text">
                  Nourish your body with our premium skincare range.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?SkinCare Serums"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Face</h5>
                <p class="card-text">
                  Refresh and rejuvenate your face with our best products.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Shampoo Product"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=HairCare Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">HairCare</h5>
                <p class="card-text">
                  Keep your hair healthy and shiny with our HairCare essentials.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Perfume Product"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Perfume</h5>
                <p class="card-text">
                  Discover our collection of exquisite fragrances.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Sunscreen Product"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Sunscreen</h5>
                <p class="card-text">
                  Protect your skin from harmful UV rays with our sunscreen.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Makeup Products"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Makeup</h5>
                <p class="card-text">
                  Explore our range of makeup products for all skin types.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?BodyLotion"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Body Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Body Products</h5>
                <p class="card-text">
                  Nourish your body with our premium skincare range.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?SkinCare Serums"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Face</h5>
                <p class="card-text">
                  Refresh and rejuvenate your face with our best products.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Shampoo Product"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=HairCare Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">HairCare</h5>
                <p class="card-text">
                  Keep your hair healthy and shiny with our HairCare essentials.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Perfume Product"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Perfume</h5>
                <p class="card-text">
                  Discover our collection of exquisite fragrances.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Sunscreen Product"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Sunscreen</h5>
                <p class="card-text">
                  Protect your skin from harmful UV rays with our sunscreen.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Makeup Products"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Makeup</h5>
                <p class="card-text">
                  Explore our range of makeup products for all skin types.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?BodyLotion"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Body Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Body Products</h5>
                <p class="card-text">
                  Nourish your body with our premium skincare range.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?SkinCare Serums"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Face</h5>
                <p class="card-text">
                  Refresh and rejuvenate your face with our best products.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Shampoo Product"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=HairCare Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">HairCare</h5>
                <p class="card-text">
                  Keep your hair healthy and shiny with our HairCare essentials.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Perfume Product"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Perfume</h5>
                <p class="card-text">
                  Discover our collection of exquisite fragrances.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Sunscreen Product"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Sunscreen</h5>
                <p class="card-text">
                  Protect your skin from harmful UV rays with our sunscreen.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              @defer {
              <img
                src="https://source.unsplash.com/300x300/?Makeup Products"
                class="card-img-top"
                alt="Card Image Body"
              />
              } @loading (minimum 500ms){
              <img
                src="https://via.placeholder.com/300?text=Face Product"
                alt=""
                class="card-img-top"
              />
              }
              <div class="card-body">
                <h5 class="card-title">Makeup</h5>
                <p class="card-text">
                  Explore our range of makeup products for all skin types.
                </p>
                <a href="#" class="btn btn-primary">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </body>
</html>
